
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
   background: #081b29;
}

.menu-lateral{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:  60px;
    margin-right: 60px;
}

.menu{
    color: white;
    display: none;
}

.logo > a{
    font-size: 30px;
    font-family: "Poetsen one",sans-serif;
    color: white;
}


.logo{
    font-weight: 400;
    border-bottom: 2px solid white;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main{
    display: flex;
    flex-direction: row;
}
.imagem{
    width: 400px;
}

div li a{
    color: #ffff;
    border-bottom:2px solid  transparent;
    transition: all .55s ease;
    font-size: 18px;
}

.link  li > a:hover{
    border-bottom: 2px solid white;
}

.text{
    padding: 150px 0px 0px 59px;
    width: 400px;
}

h1{
    font-family: "Poetsen one",sans-serif;
    font-size: 50px;
    color: #ffff;
}

h2{
    font-family: "Poetsen one",sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 25px;
    color: #05ABEB;
}

p{
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.con{
    padding: 10px;
    font-size: 15px;
    background: transparent;
    border:2px solid #05ABEB;border-radius: 10px;
    cursor: pointer;
    color: #05ABEB;
    font-weight: 800;
}

.vam{
    padding: 10px;
    margin-left: 25px;
    font-size: 15px;
    background: transparent;
    border:2px solid #05ABEB;
    border-radius: 10px;
    cursor: pointer;
    color: #05ABEB;
    font-weight: 800;
}

.con:hover{
    background: #05ABEB;
    color: black;
    transition: 2s;
}

.vam:hover{
    background: #05ABEB;
    color: black;
    transition: 2s;
}

.icon{
    margin-left: 60px;
    margin-top: 100px;
}

.icon a > span{
    margin: 5px;
    color:#05ABEB;
}

@media screen and (max-width: 700px) {
    .menu{
        display: block;
        margin-right: -30px;
        margin-top: auto;
        font-size: 30px;
        cursor: pointer;
    }
    .link{
        display: none;
        margin: 50px 0px 0px 200px ;
    }
    .menu-lateral{
        flex-direction: row-reverse;
    }
    .text{
        padding: 150px 0px 0px 0px;
        width: 100%;
}